name: e2e

on:
  pull_request:
  push:
    branches:
      - main
      - release-v1.0

jobs:
  kind:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
      - name: Restore Go cache
        uses: actions/cache@v1
        with:
          path: /home/runner/work/_temp/_github_home/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Setup Kubernetes
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: v0.11.1
          image: kindest/node:v1.21.1@sha256:69860bda5563ac81e3c0057d654b5253219618a22ec3a346306239bba8cfa1a6
      - name: Setup Kustomize
        uses: fluxcd/pkg/actions/kustomize@main
      - name: Setup envtest
        uses: fluxcd/pkg/actions/envtest@main
        with:
          version: "1.21.2"
      - name: Setup Helm
        uses: fluxcd/pkg/actions/helm@main
      - name: Run tests
        run: make test
      - name: Send go coverage report
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out        
      - name: Check if working tree is dirty
        run: |
          if [[ $(git diff --stat) != '' ]]; then
            git --no-pager diff
            echo 'run make test and commit changes'
            exit 1
          fi
      - name: Build container image1
        run: make docker BUILD_PLATFORMS=linux/amd64 BUILD_ARGS=--load
      - name: Load test image
        run: kind load docker-image raffis/mongodb-query-exporter:latest
      - name: Deploy exporter
        run: make deploy IMG=raffis/mongodb-query-exporter:latest
      - name: Setup MongoDB
        env:
          MONGODB_VER: ${{ '10.29.2' }}
        run: |
          kubectl create ns mongodb
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm upgrade --wait -i mongodb bitnami/mongodb \
          --version $MONGODB_VER \
          --namespace mongodb \
          --set auth.rootPassword=password \
          --set persistence.enabled=false
          kubectl -n mongodb-system apply -f ./config/testdata/mongodb/root-secret.yaml
      - name: Run tests
        run: |
          kubectl -n mongodb-system port-forward svc/mongodb-query-exporter 9412:9412 &>/dev/null &
          sleep 2
          curl -v --fail http://localhost:9412/metrics
      - name: Logs
        run: |
          kubectl -n mongodb-system logs deploy/mongodb-query-exporter
      - name: Debug failure
        if: failure()
        run: |
          kubectl -n kube-system describe pods
          kubectl -n mongodb-system describe pods
          kubectl -n mongodb-system get all
          kubectl -n mongodb-system logs deploy/mongodb-query-exporter
