name: pr-build

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    strategy:
      matrix:
        mongodb: ["4.4", "5.0"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 #v3
      - name: Setup Go
        uses: actions/setup-go@c4a742cab115ed795e34d4513e2cf7d472deb55f #v3.3.1
        with:
          go-version: 1.18.x
      - name: Restore Go cache
        uses: actions/cache@9b0c1fce7a93df8e3bb8926b0d6e9d89e92f20a7 #v3.0.11
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Setup Kubernetes
        uses: engineerd/setup-kind@aa272fe2a7309878ffc2a81c56cfe3ef108ae7d0 #v0.5.0
        with:
          version: v0.11.1
          image: kindest/node:v1.21.1@sha256:69860bda5563ac81e3c0057d654b5253219618a22ec3a346306239bba8cfa1a6
      - name: Setup Kustomize
        uses: fluxcd/pkg/actions/kustomize@main
      - name: Setup envtest
        uses: fluxcd/pkg/actions/envtest@main
        with:
          version: "1.21.2"
      - name: Setup Helm
        uses: fluxcd/pkg/actions/helm@main
      - name: Run tests
        run: make test
      - name: Send go coverage report
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out
      - name: Check if working tree is dirty
        run: |
          if [[ $(git diff --stat) != '' ]]; then
            git --no-pager diff
            echo 'run make test and commit changes'
            exit 1
          fi
      - name: Build container image
        run: |
          make docker-build IMG=test/mongodb-query-exporter:latest BUILD_PLATFORMS=linux/amd64 \
            BUILD_ARGS="--cache-from=type=local,src=/tmp/.buildx-cache \
            --cache-to=type=local,dest=/tmp/.buildx-cache-new,mode=max"
      - name: Load test image
        run: kind load docker-image test/mongodb-query-exporter:latest
      - name: Deploy exporter
        run: make deploy-test IMG=test/mongodb-query-exporter:latest
      - name: Setup MongoDB
        env:
          MONGODB_VER: ${{ '13.5.0' }}
        run: |
          kubectl create ns mongodb
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm upgrade --wait -i mongodb bitnami/mongodb \
          --version $MONGODB_VER \
          --namespace mongodb \
          --set auth.rootPassword=password \
          --set persistence.enabled=false \
          --set image.tag=${{matrix.mongodb}}
      - name: Run tests
        run: |
          kubectl -n mongodb-system port-forward deployment/mongodb-query-exporter 9412:9412 &>/dev/null &
          sleep 2
          curl -v --fail http://localhost:9412/metrics  | grep total_mongodb_users
      - name: Logs
        run: |
          kubectl -n mongodb-system logs deploy/mongodb-query-exporter
      - name: Debug failure
        if: failure()
        run: |
          kubectl -n kube-system describe pods
          kubectl -n mongodb describe pods
          kubectl -n mongodb-system describe pods
          kubectl -n mongodb-system get all
          kubectl -n mongodb-system logs deploy/mongodb-query-exporter
